<h1> <%= @exercise.name %> </h1>
<p class="text-success"> time to start : <%= (@exercise.time_to_start).to_s()  %> minutes </p>
<p class="text-success"> time to end : <%= (@exercise.elapsed_time).to_s()  %> minutes </p>

<ul class="nav nav-list">
  <% @problems.each do |e| %>
      <li><%= link_to "<i class='icon-star'></i> #{e.problem.name}".html_safe, [@exercise,e] %></li>
  <% end %>
</ul>
