<div class="container-fluid">
    <div class="row">
    <div class="span10"><%= yield %></div>
    <div class="span3">
      <h2>Events</h2>
      <p>Information about Currents/upcoming events</p>
    </div>
  </div>
</div>
