<h1> <%= @exercise.name %> </h1>
<p class="text-success"> time to end : <%= (@exercise.elapsed_time).to_s()  %> minutes </p>

<ul class="nav nav-list">
  <% @exercise.exercise_problems.each do |e| %>
      <li><%= link_to e.problem.name, [@exercise,e] %></li>
  <% end %>
</ul>
