<h3 class="text-success"> Administration Page: </h3>

<h4 class="text-success"> Here you can change anything if you have the required permissions and we will post the news</h4>

<ul class="inline">

  <% if @user.has_roles( User.roles[:psetter]) %>
    <a href="/exercises"> <h4> Admin Exercises </h4> </a>
  <% end %>

  <% if @user.has_roles( User.roles[:root]) %>
    <a class="active" href="/users"> <h4> Admin Users </h4> </a>
  <% end %>

  <% if @user.has_roles( User.roles[:psetter]) %>
    <a class="active" href="/problems"> <h4> Admin Problems </h4> </a>
  <% end %>

  <% if @user.has_roles( User.roles[:psetter]) %>
    <a class="active" href="/submissions"> <h4>Submissions</h4> </a>
  <% end %>

  <% if @user.has_roles( User.roles[:psetter]) %>
    <a class="active" href="/groups"> <h4>groups</h4> </a>
  <% end %>

</ul>
