<h3> Administration Page </h3>

<p> future information </p>

<% if @user.has_roles( User.roles[:psetter]) %>
  <a class="active" href="/exercises"> <h4> Admin Exercises </h4> </a>
<% end %>

<% if @user.has_roles( User.roles[:root]) %>
  <a class="active" href="/users"> <h4> Admin Users </h4> </a>
<% end %>
